@using Ramallah.Models
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var currentCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
@if (Model.ShowThumb)
{
	<div class="row">
		<div class="col-12 text-center">
			@if (Model.Thumb2 != null && Model.Thumb2 != "")
			{
				<img src="@Url.Content(Model.Thumb2)" class="article_img">
			}
			else if (Model.Thumb != null && Model.Thumb != "")
			{
				<img src="@Url.Content(Model.Thumb)" class="article_img">
			}
		</div>
	</div>
}
<div class="row page_content mt-3">
	@Html.Raw(Model.Body)
</div>